@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

.custom-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.leaflet-container {
  font-family: inherit;
}

.leaflet-popup-content-wrapper {
  padding: 0;
}